@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "AvenirLTStd-Book";
  src: url("../public/AvenirLTStd-Book.otf");
};

@font-face{
  font-family:"Avenir";
  src: url("../public/AvenirLTStd-Black.otf");
}

*{
  font-family: "AvenirLTStd-Book", sans-serif;
}

.bold{
  font-family: "Avenir";
}